#root {
  margin: 0 auto;
  text-align: center;
}

#encabezado {
  color:  #f5f6f8;;
  background-color: #142f66 ;
  padding: 1em;
}

#city-select-label{
  color:rgb(236, 245, 245);
}
#city-simple-select {
  color: #f5f6f8;
  background-color: #142f66;
}
.table-header{
  background-color: #53bd33;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  #encabezado {
    background-color: #5978df;
  }
  #city-select-label{
  color: #5978df;
  }
  #city-simple-select {
  background-color: #f1f4f8;
  border-radius: 2px;
  color: black
  }
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
